> # PANDAS DAY 09 Tips & Tricks

In [1]:
import pandas as pd

## loading data set or importing data set

In [5]:
import seaborn as sns
df = sns.load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

### let's download the dataset of flower (iris)

In [10]:
flower = sns.load_dataset("iris")
flower

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
flower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### For taking sample of flower

In [13]:
flower.sample(50)

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
88            5.6          3.0           4.1          1.3  versicolor
66            5.6          3.0           4.5          1.5  versicolor
129           7.2          3.0           5.8          1.6   virginica
109           7.2          3.6           6.1          2.5   virginica
75            6.6          3.0           4.4          1.4  versicolor
143           6.8          3.2           5.9          2.3   virginica
53            5.5          2.3           4.0          1.3  versicolor
14            5.8          4.0           1.2          0.2      setosa
98            5.1          2.5           3.0          1.1  versicolor
111           6.4          2.7           5.3          1.9   virginica
15            5.7          4.4           1.5          0.4      setosa
48            5.3          3.7           1.5          0.2      setosa
79            5.7          2.6           3.5          1.0  versicolor
99            5.7          2.8           4.1          1.3  versicolor
31            5.4          3.4           1.5          0.4      setosa
96            5.7          2.9           4.2          1.3  versicolor
55            5.7          2.8           4.5          1.3  versicolor
138           6.0          3.0           4.8          1.8   virginica
42            4.4          3.2           1.3          0.2      setosa
60            5.0          2.0           3.5          1.0  versicolor
113           5.7          2.5           5.0          2.0   virginica
38            4.4          3.0           1.3          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
91            6.1          3.0           4.6          1.4  versicolor
85            6.0          3.4           4.5          1.6  versicolor
39            5.1          3.4           1.5          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
83            6.0          2.7           5.1          1.6  versicolor
44            5.1          3.8           1.9          0.4      setosa
131           7.9          3.8           6.4          2.0   virginica
54            6.5          2.8           4.6          1.5  versicolor
57            4.9          2.4           3.3          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
117           7.7          3.8           6.7          2.2   virginica
108           6.7          2.5           5.8          1.8   virginica
47            4.6          3.2           1.4          0.2      setosa
68            6.2          2.2           4.5          1.5  versicolor
59            5.2          2.7           3.9          1.4  versicolor
139           6.9          3.1           5.4          2.1   virginica
148           6.2          3.4           5.4          2.3   virginica
147           6.5          3.0           5.2          2.0   virginica
121           5.6          2.8           4.9          2.0   virginica
70            5.9          3.2           4.8          1.8  versicolor
19            5.1          3.8           1.5          0.3      setosa
78            6.0          2.9           4.5          1.5  versicolor
27            5.2          3.5           1.5          0.2      setosa
87            6.3          2.3           4.4          1.3  versicolor
137           6.4          3.1           5.5          1.8   virginica

### exporting the file or saving the file

In [15]:
flower.to_excel("flower.xlsx")